@import "./_variables.scss";

footer{
    height: 10vh;
    color: $grey;
    font-size: 18px;
    font-weight: normal;
    .footer-wrapper{
      display: flex;
      justify-content: space-between;
    }
  }
  .footer-ul{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    }
    li a{
      text-decoration: none;
      color: $grey;
    }
  
    li a:hover{
      color: $green;
    }

@media screen and(min-width: 600px){
  .footer-wrapper{
    display: flex;
    justify-content: center;
    .footer-ul{
      width: 100%;
    }
  }
}