/*Variables*/
header {
  height: 100vh;
  background: url(https://i.postimg.cc/gJSBYwPq/Background.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: #fff;
}

.nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav #logo {
  width: 120px;
  height: 80px;
}

.nav .nav-links {
  display: flex;
  list-style: none;
  width: 45%;
  justify-content: space-between;
  padding: 0 0 16px 0;
}

.nav .nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.nav .nav-links a:hover {
  cursor: pointer;
  color: #17DAA3;
}

.banner {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 60px;
  font-weight: lighter;
}

.banner h1 span {
  font-weight: bold;
}

.banner h3 {
  font-size: 24px;
  font-weight: normal;
  padding-top: 26px;
}

.burger {
  display: none;
  padding-bottom: 16px;
  cursor: pointer;
}

.burger div {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background: #17DAA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    padding: 32px 0 16px 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .burger {
    display: block;
  }
  .banner h1 {
    font-size: 45px;
  }
  .banner h3 {
    font-size: 18px;
  }
}

@media screen and (max-height: 410px) {
  body {
    overflow-x: hidden;
  }
  .nav {
    padding-top: 50px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background: #17DAA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    padding: 4px 0 4px 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .burger {
    display: block;
  }
  .banner h1 {
    font-size: 35px;
  }
  .banner h3 {
    font-size: 14px;
  }
}
