/*Variables*/
.map {
  background: url("../images/Map.png") right center no-repeat #fff;
  background-size: 50%;
  text-align: left;
}

.inner {
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
  min-width: 980px;
  max-width: 1200px;
  padding: 0 10px;
  position: relative;
}

.map article {
  width: 50%;
  margin: 11% 0 13%;
}

@media screen and (min-width: 556px) and (max-width: 996px) {
  .map {
    background: none;
  }
  .inner {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 720px;
  }
}
