@import "./_variables.scss";


.services{
    background-color: $grey3; 
    padding-bottom: 100px;
    margin-top: 0;
    padding-top: 98px;
    .container-wrapper{
      justify-content: space-between;
      }
  }
  .services-item{
      position: relative;
      display: flex;
      max-width: 550px;
      height: auto;
      margin: 30px 0;
      h2{
        padding-bottom: 30px;
      }
      .service-icon{
        min-width: 80px;
        height: 80px;
        background: $white;
        border-radius: 100%;
        text-align: center;
        margin: 0 20px;
        i{
          font-size: 30px;
          color: $green;
          line-height: 2.5;
        }
      }
      .service-description{
        margin: 0 15px;
      }
  }
  @media screen and (min-width: 996px) and (max-width: 1200px){
    .services-item{
      max-width: 450px;
    }
    .service-description{
      padding-top: 25px;
      h2{
        font-size: 45px;
      }
    }
  }
  @media screen and (max-width: 996px){
    .container-wrapper{
      align-content: center;
      justify-content: center;
    }
    .services-item{
      max-width: 100%;
      display: flex;
      justify-items: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 25px 0;
      .service-description{
        padding-top: 25px;
        h2{
          font-size: 42px;
        }
      }
    }
  }