@import "./_variables.scss";
@import "./_header.scss";
@import "./_about.scss";
@import "./_product-right.scss";
@import "./_ceo-founder.scss";
@import "./_services.scss";
@import "./_team_gallery.scss";
@import "./_pricing.scss";
@import "./_location.scss";
@import "./_template.scss";
@import "./_footer.scss";


/*Global*/

*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.container-wrapper{
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
@media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
.container-wrapper{
  display: flex;
  flex-wrap: wrap;
}
h2{
  font-size: 60px;
      font-weight: 200;
      color: $grey;
      padding-bottom: 60px;
}  
p{
  font-size: 16px;
  font-weight: normal;
  color: $grey2;
  line-height: 30px;
  letter-spacing: 0.1px;
}
.btn{
  width: 183px;
  height: 47px;
  border: 2px solid $white;
  background: none;
  border-radius: 50px;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 62px;
}
.btn:hover{
  cursor: pointer;
  background: $green;
  border: none;
}
.btn-green{
  text-decoration: none;
  width: 183px;
  height: 47px;
  border: none;
  background: $green;
  border-radius: 50px;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 45px;
 
}
.btn-green:hover{
  cursor: pointer;
  background: $grey;
}

.left{
  display: inline-block;
  line-height: 3.0;
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

section{
  margin: 60px 0;
}
  .section-title{
    text-align: center;
    padding-bottom: 100px;
    h2{
      font-size: 60px;
      font-weight: 200;
      padding-bottom: 10px;
      color: $grey;
    }
    h2:after{
      content: "";
      display: block;
      width: 30px;
      max-width: 100%;
      height: 1px;
      background-color: $green;
      margin: 20px auto;
    }
  }
